.formulario-contenedor {
  max-width: 440px;
  margin: 130px auto;
  padding: 30px 35px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #d9ecee;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.08);
  font-family: "Inter", sans-serif;
  position: relative;
  bottom: 120px;
}

.formulario-contenedor h2 {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 700;
  color: #2f6f73;
  text-align: center;
}

.formulario-evento {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formulario-evento input {
  padding: 13px 15px;
  border: 2px solid #cfe8ea;
  border-radius: 10px;
  font-size: 15px;
  background: #f8fcfc;
  color: #2f3e46;
  transition: 0.25s ease;
}

.formulario-evento input:focus {
  border-color: #2f8f8e;
  background-color: #ffffff;
  box-shadow: 0 0 8px rgba(47, 143, 142, 0.25);
  outline: none;
}

.formulario-evento button {
  padding: 13px;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.25s, transform 0.15s;
  font-weight: 600;
}

.formulario-evento button:first-of-type {
  background: #2f8f8e;
  color: white;
}

.formulario-evento button:first-of-type:hover {
  background: #277c7a;
  transform: translateY(-2px);
}

.formulario-evento button:last-of-type {
  background: #eaf4f4;
  color: #2f3e46;
  border: 1px solid #d2e8e8;
}

.formulario-evento button:last-of-type:hover {
  background: #d7ecec;
  transform: translateY(-2px);
}
